<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户评论管理</title>
</head>
<body>
    <input type="hidden" th:value="${articleId}" id="article-id">
    <div id="demo7"></div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>显示完整功能</legend>
    </fieldset>
    <ul id="biuuu_city_list"></ul>
    <ul id="view"></ul>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript">
        var articleId = $('#article-id').val();
     //   alert($('#article-id').val());

        var pagesNum = 1;
        var pagesSize = 10;
        var pages = {'pagesNum':pagesNum,'pagesSize':pagesSize};
        layui.use(['laypage', 'element','layer'], function() {
            var laypage = layui.laypage
                , layer = layui.layer;
            var counts = 0;
            function layAjax(){
                $.ajax({
                    url:'/comments/query/comments',
                    data:'articleId='+articleId+'&pageNum='+pagesNum,
                    type:'get',
                    async: false,
                    success: function (msg) {
                        alert(msg)
                        var element = layui.element
                        element.init();
                        var comments = JSON.parse(msg);
                        counts = comments.allPages;
                        alert('数据总数为' + counts)
                        var commentsDtoList = comments.commentsDtoList;
                        $('#view').html('')
                        $(commentsDtoList).each(function (i) {
                            alert(commentsDtoList[i].userName);
                            alert(commentsDtoList[i].commentsContent);
                            alert('id='+commentsDtoList[i].commentsId);
                            $('#view').append('<p>'+'<b>'+commentsDtoList[i].userName+'</b>'+'&nbsp;'+commentsDtoList[i].commentsContent+'<a href="/comments/delete/'+commentsDtoList[i].commentsId+'">'+'删除'+'</a>'+'</p>')
                        })
                    }
                })
            }
            layAjax();
            laypage.render({
                elem: 'demo7'
                , count: counts
                , limit: pagesSize
                , curr: pagesNum
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj,first) {
                    alert('页数'+counts)
                    pagesNum = obj.curr;
                    pagesSize = obj.limit;
                    if (!first){
                        layAjax();
                    }
                }
            });


        });
    </script>
</body>
</html>